<ion-view view-title="Questionbank for Investment Bankers">
  <ion-content>
    </br>
    </br>

    <p class="questionHeading">
      This app was created to help aspiring investment bankers prepare for their interviews. All these questions and solutions have been taken from the Breaking Into Wall Street guide.
    </p>

    </br>

    <p class="questionHeading">
      To get started, open the side menu and select your desired topic of interest. The number in parentheses indicates the number of possible questions for that topic. After selecting a topic, a question will automatically be generated for you. You can click the "Solution" button to view the suggested answer or click the "Next Question" button to generate another question.
    </p>
    </br>

    <p id="goodluck">
      Good luck with your interviews!
    </p>

    </br>
    </br>
    </br>
    </br>
    </br>

    <p id="disclaimer">
      *** Due to the nature of the app, you may see the same question appear occasionally. Just keep hitting the "Next Question" button to cycle through them all.
    </p>

  </ion-content>
</ion-view>
