<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Topics</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/homepage">
          Homepage
        </ion-item>
        <ion-item menu-close href="#/app/understandingbanking">
          Understanding Banking (15)
        </ion-item>
        <ion-item menu-close href="#/app/warrenbuffett">
          Warren-Buffett Style (10)
        </ion-item>
        <ion-item menu-close href="#/app/whybanking">
          Why Banking (7)
        </ion-item>
        <ion-item menu-close href="#/app/failure">
          Failure (10)
        </ion-item>
        <ion-item menu-close href="#/app/outsidethebox">
          Outside the Box (6)
        </ion-item>
        <ion-item menu-close href="#/app/restructdistress">
          Restructuring/Distress (40)
        </ion-item>
        <ion-item menu-close href="#/app/accounting">
          Basic Accounting (33)
        </ion-item>
        <ion-item menu-close href="#/app/accountingadvanced">
          Advanced Accounting (15)
        </ion-item>
        <ion-item menu-close href="#/app/enterpriseEv">
          Basic Equity Value (15)
        </ion-item>
        <ion-item menu-close href="#/app/advEnterpriseEv">
          Advanced Equity Value (3)
        </ion-item>
        <ion-item menu-close href="#/app/valuation">
          Basic Valuation (34)
        </ion-item>
        <ion-item menu-close href="#/app/advValuation">
          Advanced Valuation (14)
        </ion-item>
        <ion-item menu-close href="#/app/dcf">
          Basic DCF (32)
        </ion-item>
        <ion-item menu-close href="#/app/advDcf">
          Advanced DCF (7)
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
