<ion-view view-title="Understanding Banking" ng-controller="UBCtrl">
  <ion-content>
    </br>
    <!--  question -->
    <div>
      <h2>{{question}}</h2>
    </div>

    </br>
    </br>
    </br>

    <!-- answer -->
    <div>
      <h3>{{answer}}</h3>
    </div>

    </br>
    </br>
    </br>

  <div>
    <!-- solution button -->
     <div class="solutionBtn">
      <button ng-click="showSolution()" class="button button-stable">
        Solution
      </button>
     </div>

     <!-- next q button -->
      <div class="nextQBtn">
       <button ng-click="nextQ()" class="button button-stable">
         Next Question
       </button>
      </div>

  </div>

  </ion-content>
</ion-view>
