/* Empty. Add your own CSS if you like */
.solutionBtn {
  text-align: left;
  display: inline;
  position: relative;
  left:43%
}

.nextQBtn {
  text-align: right;
  display: inline;
  position: relative;
  left: 46%;
}
